.faq_answer > .faq_container.r_contener_main h2 { font-size: 1em; }
.r_content_contener_main.contentPage {
	text-align: left;
	margin: 16px;
	line-height: 1.5em;
	font-size: 10pt;
}
.r_content_contener_main.contentPage a { 
	color: #74B23B; 
}

a[href="javascript:LC_API.open_chat_window()"] { display: none; }