@font-face {
  font-family: "bold_bet777_font";
  src: url("/themes/sbtech/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "regular_bet777_font";
  src: url("/themes/sbtech/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "semibold_bet777_font";
  src: url("/themes/sbtech/fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "regular_new_bet777";
  src: url("/themes/sbtech/fonts/DINRegular.ttf");
}
#b7_overlay {
  z-index: 999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}
#b7_popup {
  position: fixed;
  opacity: 0;
  width: 90%;
  line-height: 1.5em;
  font-family: "regular_bet777_font";
}
#b7_popup_header {
  border-radius: 6px 6px 0 0;
  border-top: 1px solid rgb(96, 96, 96);
  border-bottom: 2px solid rgb(255, 208, 0);
  background: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  font-size: 12pt;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgb(24, 24, 24);
  padding: 8px;
  position: relative;
}
#b7_popup_content {
  border-radius: 0 0 6px 6px;
  background: rgb(248, 248, 248);
  color: rgb(8, 8, 8);
  font-size: 9pt;
  text-shadow: none;
  text-align: center;
  padding: 8px;
}
.b7_popup_field {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 6px;
}
.b7_popup_button {
  text-transform: uppercase;
  padding: 6px;
  border: 1px solid #d7ce4c;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #fcf77d; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #fcf77d 0%,
    #fee882 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #fcf77d 0%,
    #fee882 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fcf77d 0%,
    #fee882 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf77d', endColorstr='#fee882',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
  margin: 19px auto 0;
  font-family: "semibold_bet777_font";
}
.b7_popup_button.light {
  border: 1px solid rgba(176, 160, 0, 0.5);
  background: rgba(255, 236, 0, 0.5);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 32, 0.5) 0%,
    rgba(255, 240, 0, 0.5) 2%,
    rgba(255, 244, 0, 0.5) 5%,
    rgba(255, 224, 0, 0.5) 85%,
    rgba(255, 208, 0, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 32, 0.5) 0%,
    rgba(255, 240, 0, 0.5) 2%,
    rgba(255, 244, 0, 0.5) 5%,
    rgba(255, 224, 0, 0.5) 85%,
    rgba(255, 208, 0, 0.5) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 32, 0.5) 0%,
    rgba(255, 240, 0, 0.5) 2%,
    rgba(255, 244, 0, 0.5) 5%,
    rgba(255, 224, 0, 0.5) 85%,
    rgba(255, 208, 0, 0.5) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 32, 0.5) 0%,
    rgba(255, 240, 0, 0.5) 2%,
    rgba(255, 244, 0, 0.5) 5%,
    rgba(255, 224, 0, 0.5) 85%,
    rgba(255, 208, 0, 0.5) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 32, 0.5) 0%,
    rgba(255, 240, 0, 0.5) 2%,
    rgba(255, 244, 0, 0.5) 5%,
    rgba(255, 224, 0, 0.5) 85%,
    rgba(255, 208, 0, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF2080',endColorstr='#FFD00080',GradientType=0);
}
.b7_popup_button:hover {
  background: rgb(255, 244, 0);
  background: -moz-linear-gradient(
    top,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF28',endColorstr='#FFD808',GradientType=0);
}
.b7_popup_button.light:hover {
  background: rgba(255, 244, 0, 0.5);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF2880',endColorstr='#FFD80880',GradientType=0);
}
.b7_popup_button:active {
  text-shadow: -1px -1px 1px rgb(176, 176, 0), 1px 1px 1px rgb(255, 255, 128);
  background: rgb(255, 244, 0);
  background: -moz-linear-gradient(
    bottom,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: -webkit-linear-gradient(
    bottom,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: -ms-linear-gradient(
    bottom,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgb(255, 255, 40) 0%,
    rgb(255, 248, 0) 2%,
    rgb(255, 255, 0) 5%,
    rgb(255, 232, 0) 85%,
    rgb(255, 216, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD808',endColorstr='#FFFF28',GradientType=0);
}
.b7_popup_button.light:active {
  background: rgba(255, 244, 0, 0.5);
  background: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  background: linear-gradient(
    to top,
    rgba(255, 255, 40, 0.5) 0%,
    rgba(255, 248, 0, 0.5) 2%,
    rgba(255, 255, 0, 0.5) 5%,
    rgba(255, 232, 0, 0.5) 85%,
    rgba(255, 216, 0, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD80880',endColorstr='#FFFF2880',GradientType=0);
}
.b7_popup_button span {
  position: relative;
  top: 0;
  left: 0;
}
.b7_popup_button:active span {
  top: 1px;
  left: 1px;
}
.b7_popup_closer {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 12px;
  height: 12px;
  padding: 2px 4px 2px 2px;
  border-top: 1px solid rgb(255, 128, 64);
  border-bottom: 1px solid rgb(160, 0, 0);
  border-radius: 64px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
  line-height: 12px;
  text-shadow: none;
  color: rgb(255, 255, 255);
  background: rgb(240, 8, 0);
  background: -moz-linear-gradient(
    top,
    rgb(255, 64, 0) 0%,
    rgb(208, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 64, 0) 0%,
    rgb(208, 0, 0) 100%
  );
  background: -o-linear-gradient(top, rgb(255, 64, 0) 0%, rgb(208, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgb(255, 64, 0) 0%, rgb(208, 0, 0) 100%);
  background: linear-gradient(
    to bottom,
    rgb(255, 64, 0) 0%,
    rgb(208, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4000',endColorstr='#D00000',GradientType=0);
  cursor: pointer;
}

a.toggleBtn {
  display: inline-block;
  height: 27px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 9px 10px 0 10px;
  border-radius: 6px;
  background-origin: border-box;
  background-clip: border-box;
  background: #2e2e2e;
  background: -webkit-linear-gradient(top, #2e2e2e 0%, #0e0e0e 100%);
  background: -o-linear-gradient(top, #2e2e2e 0%, #0e0e0e 100%);
  background: -ms-linear-gradient(top, #2e2e2e 0%, #0e0e0e 100%);
  background: linear-gradient(to bottom, #2e2e2e 0%, #0e0e0e 100%);
  border: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.65);
}
a.toggleBtn:active,
a.toggleBtn.active {
  background: #151515;
  background: -webkit-linear-gradient(
    top,
    #151515 0%,
    #323232 7%,
    #454545 92%,
    #464646 98%
  );
  background: -o-linear-gradient(
    top,
    #151515 0%,
    #323232 7%,
    #454545 92%,
    #464646 98%
  );
  background: -ms-linear-gradient(
    top,
    #151515 0%,
    #323232 7%,
    #454545 92%,
    #464646 98%
  );
  background: linear-gradient(
    to bottom,
    #151515 0%,
    #323232 7%,
    #454545 92%,
    #464646 98%
  );
}
div.betResult_additionalActions {
  display: block;
  position: relative;
  background: none;
  text-align: center;
  padding: 0 0 10px;
  clear: both;
  border: none;
}
div.betResult_additionalActions > p {
  margin: 0 0 10px;
}
div.betResult_additionalActions > span {
  display: inline-block;
  position: relative;
  width: 50%;
  height: auto;
  overflow: hidden;
}
div.betResult_additionalActions > span:first-child:nth-last-child(2) > a {
  margin-right: 6px;
}
div.betResult_additionalActions
  > span:first-child:nth-last-child(2)
  ~ span:nth-child(2)
  > a {
  margin-left: 6px;
}
div.betResult_additionalActions a.toggleBtn {
  display: block;
  width: auto;
  margin: 0 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
div.betResult_additionalActions a.toggleBtn.active {
  color: rgb(128, 208, 0);
}
div.betResult_additionalActions a.toggleBtn .btnIcon {
  position: absolute;
  top: 0;
  left: 4px;
}
div.betResult_additionalActions a.toggleBtn div.spinner {
  display: inline-block;
  float: none;
  margin: 1em 0 0 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0;
}
div.betResult_additionalActions a.toggleBtn div.spinner {
  margin-left: 1em;
}
a.toggleBtn .btnIcon.sms,
a.toggleBtn .btnIcon.email {
  background-image: url("https://bfscripts.dhnet.be/cache/public/mobile/receipt.png");
  background-repeat: no-repeat;
  background-size: 30px 150px;
  width: 30px;
  height: 30px;
  top: 3px !important;
  left: 6px !important;
}
a.toggleBtn .btnIcon.sms {
  background-position: 0 0;
}
a.toggleBtn.active .btnIcon.sms {
  background-position: 0 -30px !important;
}
a.toggleBtn .btnIcon.email {
  background-position: 0 -60px;
}
a.toggleBtn.active .btnIcon.email {
  background-position: 0 -90px !important;
}
section#betinfo div.betResult_additionalActions {
  font-size: 1.05em;
  font-weight: bold;
  margin: 10px 0 0;
}

#b7_replacementHeader .fa {
  position: absolute;
  top: 16px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  font-size: 28px;
  color: rgb(232, 232, 232);
}
#b7_replacementHeader .fa:hover {
  color: rgb(255, 197, 76);
}
#b7_replacementHeader .fa-bars {
  left: 0;
}
#b7_replacementHeader .fa-power-off {
  right: 0;
}

#b7_replacementHeader .search-icon {
  display: block;
  float: left;
  margin-left: calc(24% - 14px);
  margin-top: 16px;
}
#b7_replacementHeader .logo-header {
  display: block;
  float: left;
  margin-left: calc(26% - 42px);
  margin-top: 11px;
}
#b7_replacementHeader .logged-out {
  margin-top: 15px;
}
#b7_replacementHeader .my-bets {
  display: block;
  float: left;
  width: 55px;
  margin-left: calc(22% - 64px);
  line-height: 11px;
  font-size: 7pt;
  font-weight: 700;
}
#b7_replacementHeader .my-balance {
  display: block;
  float: right;
  margin-top: 1px;
  width: 48px;
  line-height: 10px;
  margin-right: 5px;
  font-size: 7pt;
  font-weight: 700;
}
#b7_replacementHeader a.header-join {
  display: block;
  float: left;
  width: 28px;
  margin-left: calc(26% - 56px);
  line-height: 18px;
  font-size: 7pt;
  font-weight: 700;
}
#b7_replacementHeader a.header-login {
  display: block;
  float: right;
  margin-top: 1px;
  width: 28px;
  line-height: 10px;
  margin-right: 5px;
  font-size: 7pt;
  font-weight: 700;
}
#b7_replacementHeader a,
#b7_replacementHeader a:link,
#b7_replacementHeader a:visited {
  color: #e8e8e8;
  text-decoration: none;
}
#b7_replacementHeader a span.balance {
  color: #ffc54c;
}

#b7_replacementLeftNav {
  position: fixed;
  top: 16px;
  left: -100%;
  width: 100%;
  height: calc(100% - 16px);
  z-index: 101;
}
#b7_replacementLeftNav > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  z-index: 101;
  background: rgb(11, 11, 11);
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.75);
  overflow: auto;
}
#b7_replacementLeftNav > div > div {
  position: relative;
  margin-top: 71px;
  margin-bottom: 50px;
  left: 0;
}
#b7_replacementLeftNav > div > div:nth-child(5),
#b7_replacementLeftNav > div > div:nth-child(6) {
  margin-top: 50px;
}

#b7_replacementLeftNav > div > div > a,
#b7_replacementLeftNav > div > div > span,
#b7_replacementLeftNav > div > span:first-child,
#b7_replacementLeftNav > div > span:nth-child(2),
#b7_replacementLeftNav > div > span:nth-child(3) > a {
  display: block;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  color: white;
}
#b7_replacementLeftNav > div > span:first-child {
  position: fixed;
  width: calc(75% - 28px);
  z-index: 101;
}
#b7_replacementLeftNav > div > span:nth-child(2) {
  background: rgb(48, 48, 48);
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 12px 20px;
  height: auto;
  position: fixed;
  width: calc(75% - 40px);
  z-index: 100;
}
#b7_replacementLeftNav > div > span:nth-child(3) {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 1.25em;
  width: 75%;
  background: rgb(11, 11, 11);
  z-index: 102;
}
#b7_replacementLeftNav > div > div > span {
  height: 64px !important;
}
#b7_replacementLeftNav > div > div > span > select {
  font-size: 80%;
  background: rgb(48, 48, 48);
  color: white;
}
#b7_replacementLeftNav > div > span {
  font-size: 1.5em;
}

#b7_replacementLeftNav > div > div > a,
#b7_replacementLeftNav > div > div > span {
  font-size: 1.25em;
}

#b7_replacementLeftNav > div > span > .fa:hover,
#b7_replacementLeftNav > div > div > a:hover,
#b7_replacementLeftNav > div > span:nth-child(3) > a:hover {
  color: rgb(255, 197, 76);
}

#b7_replacementLeftNav > div > span:first-child .b7_icon,
#b7_replacementLeftNav > div > span:nth-child(2) .b7_icon {
  display: block;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  margin: 14px 10px;
  cursor: pointer;
}
#b7_replacementLeftNav > div > span:first-child .b7_icon:first-child,
#b7_replacementLeftNav > div > span:nth-child(2) .b7_icon:first-child {
  left: 0;
}
#b7_replacementLeftNav > div > span:first-child .b7_icon:last-child,
#b7_replacementLeftNav > div > span:nth-child(2) .b7_icon:last-child {
  right: 0;
}
#b7_replacementLeftNav > div > div .b7_icon,
#b7_replacementLeftNav > div > span:nth-child(3) .b7_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -2px;
  margin-right: 20px;
}
#b7_replacementLeftNav > div > div .b7_icon.smaller {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: 0;
  margin-left: 4px;
}

.b7_loading {
  background: #000;
  display: none;
  opacity: 0.8;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999999999;
  text-align: center;
}
.b7_loading img {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -27px;
}
.eventDetails > .icon[class*="sport_"] {
  border: 0 !important;
}
#upcomingContainer .icon,
#home_highlight .icon {
  width: 28px !important;
  height: 28px !important;
  margin: 5px !important;
}

#pagesWrapper section.page {
  padding: 0;
}

#playground_container {
  background: none !important;
}
.game_field,
.game_field:focus,
.game_field:hover,
.game_field:active {
  background: none !important;
}
.contentPage a {
  color: #76b338;
  text-decoration: underline;
  font-weight: 400;
}

strike {
  text-decoration: line-through !important;
}
u {
  text-decoration: underline !important;
}

.panel-left .allbranch-icon-wrap.list-menu-item-icon {
  margin-left: 0 !important;
  margin-right: 15px !important;
}
.panel-left .allbranch-icon-wrap.list-menu-item-icon {
  margin-left: 0 !important;
  margin-right: 15px !important;
}
html.IsDesktop .panel-left .allbranch-icon-wrap.list-menu-item-icon {
  margin-left: 0 !important;
  margin-right: 7px !important;
}
html.IsDesktop .all_branches_container .lnk_btn.square .allbranch-icon-wrap {
  top: 4px;
}
.panel-left .list-menu-item .icon[class*="sport_"],
.panel-right .list-menu-item .icon[class*="sport_"],
.panel-left a.list-menu-item .icon[class*="sport_"],
.panel-right a.list-menu-item .icon[class*="sport_"] {
  width: 28px !important;
  height: 28px !important;
  top: 0 !important;
}
.panel-right {
  z-index: 3;
}
/*
* Mobile app header
*/
header#b7_replacementHeader.with_mobile_app_banner {
  top: 80px;
}
#MobileAppNotificationBlock {
  background-color: #efedee;
  position: fixed;
  z-index: 3;
  width: calc(100% - 28px);
  padding: 0 4px 0 24px;
}
#MobileAppNotificationBlock .c-app-notification__close-button {
  top: 34px;
  left: 9px;
  background-color: inherit;
}
#MobileAppNotificationBlock .c-app-notification__wrapper {
  width: 98%;
}
#MobileAppNotificationBlock
  .c-app-notification__wrapper
  > .c-app-notification__column:nth-child(2) {
  width: 48%;
  font-family: Open Sans, sans-serif;
}
#MobileAppNotificationBlock .c-app-notification__close-button:before,
#MobileAppNotificationBlock .c-app-notification__close-button:after {
  background-color: #8c8c8c;
}
#MobileAppNotificationBlock .c-app-notification__title {
  font-weight: inherit;
  line-height: 14px;
  letter-spacing: -0.3pt;
}
#MobileAppNotificationBlock .c-app-notification__title > span {
  font-weight: bold;
}
#MobileAppNotificationBlock .c-app-notification__content {
  font-weight: bold;
  color: #393939;
  margin-top: 6px;
}
#MobileAppNotificationBlock .c-app-notification__button {
  background-color: #7eb20f;
  font-weight: bold;
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  width: 100px;
}
#MobileAppNotificationBlock .c-app-notification__column {
  font-size: 11px;
}
@media only screen and (min-width: 350px) {
  #MobileAppNotificationBlock .c-app-notification__column {
    font-size: 13px;
  }
}
