.r_content_tab {
    list-style-type: none;
    margin: 0 1px;
    padding: 0;
    margin-top: -12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAlCAIAAAAMShT+AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH3gcLDg0btJQWRQAAADRJREFUCFuFjTEKADAMAg+/mc75/w/sUmyGQoeDQwVZVQJkWwZhx3082WT0P3js83kdgO7enlxUN9VBLlUAAAAASUVORK5CYII=);
}
/* padding: 0 35px; */
.r_content_tab li {
    display: inline-block;
    width: 20%;
	height: 37px;
    line-height: 37px;
    color: #FFF;
    font-weight: bold;
	text-align: center;
    border-left: 1px solid #3F3E3E;
    border-right: 1px solid #585858;
    cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.r_content_tab li.four {
	width: 25% !important;
}
.r_content_tab li.three:nth-child(3n), .r_content_tab li.three:nth-child(3n+2) {
	width: 33.3333% !important;
}
.r_content_tab li.three:nth-child(3n+1) {
	width: 33.3334% !important;
}
.r_content_tab li.two {
	width: 50% !important;
}
.r_content_tab li.one {
	width: 100% !important;
}
.r_content_tab li:hover,
.r_content_tab li.active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAlCAIAAAAMShT+AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH3gcLDg0m7PxaVAAAADJJREFUCFtjcXR0ZGFgYGBhZGQEY2Q2GAP5DMh8QhhdP8hMLPIMyGwgvbh9DZhOb4kHAMjsBMcKXzqQAAAAAElFTkSuQmCC);
}
.r_content_tab li.active {
    cursor: auto;
}
.r_content_tab li.first {
    border-left: none;
}
.r_content_tab li.last {
    border-right: none;
}
.r_content_tab li:last-child {
    border-right: none;
    cursor: auto;
    background-image: none;
	display: none;
}