.freeContentBlock {
	color: white;
}

.freeContentBlock > h2 {
	background: #0E0E0E none repeat scroll 0% 0%;
	border-bottom: 1px solid #C0090B;
	box-shadow: none;
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: normal;
	font-family: "open_sansbold";
	height: 24px;
	left: 0px;
	line-height: 24px;
	margin-bottom: 0px;
	overflow: visible;
	padding: 6px 10px;
	right: 0px;
	text-indent: 0px;
	text-transform: uppercase;
	top: 0px;
}
.freeContentBlock > h4 {
	background: rgb(48,48,48);
	font-size: 10.25pt;
	font-weight: normal;
	padding: 6px 6px 6px 32px;
	position: relative;
	margin-top: 1em;
	cursor: pointer;
}
.freeContentBlock > p:nth-child(2) > img {
	width: 100%;
	height: 100%;
}
.freeContentBlock > p {
	background: rgb(20,20,20) none repeat scroll 0% 0%;
	font-size: 12px;
	font-weight: normal;
	padding: 12px 20px 12px 20px;
	position: relative;
	margin-top: 0px;
	line-height: 15pt;
}
.freeContentBlock > p:nth-child(2) {
	padding: 0px;
	margin: 0px;
}
.freeContentBlock > p:nth-child(9){
	text-align: right;
}
.freeContentBlock > h4:first-child {
	margin-top: 0;
}

.freeContentBlock > h4:after {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAJFBMVEUAAAD///+4uLi0tLTIyMi9vb21tbWfn5/Ly8vDw8Oqqqqnp6fShYMIAAAAAXRSTlMAQObYZgAAAC9JREFUCNdjwAq2gogohokKDAzMIgzMQgwMhgogDGIxsIkXKoDkE4XAalka0HUDALTgBEmGYb0tAAAAAElFTkSuQmCC);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: calc(50% - 6px);
	left: 10px;
	width: 12px;
	height: 12px;
	content: ' ';
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	tranform-origin: 50% 50%;
	-webkit-tranform-origin: 50% 50%;
}

.freeContentBlock > h4.open:after {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.freeContentBlock > h4.animate:after {
	animation: faq_close 0.2s linear 1;
	-webkit-animation: faq_close 0.2s linear 1;
}

.freeContentBlock > h4.animate.open:after {
	animation: faq_open 0.2s linear 1;
	-webkit-animation: faq_open 0.2s linear 1;
}


.freeContentBlock > div {
	background: rgb(20,20,20);
	padding: 10px;
	display: none;
}

.freeContentBlock > div > div {
	padding: 10px 22px 10px 22px;
	text-align: left;
	display: none;
	color: rgba(255,255,255,0.8);
}

.freeContentBlock > div > div > div {
	padding: 10px 22px 10px 22px;
	text-align: left;
	display: none;
	color: rgb(255,255,255);
}

.freeContentBlock > div > h4 {
	font-size: 10pt;
	font-weight: normal;
	padding: 6px 6px 6px 22px;
	position: relative;
	cursor: pointer;
}

.freeContentBlock > div > h3 {
	font-weight: 400;
    margin-bottom: 8px;
    margin-top: 2px;
}

.freeContentBlock > div > h4:after {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAJFBMVEUAAAD///+4uLi0tLTIyMi9vb21tbWfn5/Ly8vDw8Oqqqqnp6fShYMIAAAAAXRSTlMAQObYZgAAAC9JREFUCNdjwAq2gogohokKDAzMIgzMQgwMhgogDGIxsIkXKoDkE4XAalka0HUDALTgBEmGYb0tAAAAAElFTkSuQmCC);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: calc(50% - 6px);
	left: 0;
	width: 12px;
	height: 12px;
	content: ' ';
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	tranform-origin: 50% 50%;
	-webkit-tranform-origin: 50% 50%;
}

.freeContentBlock > div > h4.open:after {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.freeContentBlock > div > h4.animate:after {
	animation: faq_close 0.2s linear 1;
	-webkit-animation: faq_close 0.2s linear 1;
}

.freeContentBlock > div > h4.animate.open:after {
	animation: faq_open 0.2s linear 1;
	-webkit-animation: faq_open 0.2s linear 1;
}

.freeContentBlock > div > div >  h4 {
	font-size: 10pt;
	font-weight: normal;
	padding: 6px 6px 6px 22px;
	position: relative;
	cursor: pointer;
}

.freeContentBlock > div > div > h4:after {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAJFBMVEUAAAD///+4uLi0tLTIyMi9vb21tbWfn5/Ly8vDw8Oqqqqnp6fShYMIAAAAAXRSTlMAQObYZgAAAC9JREFUCNdjwAq2gogohokKDAzMIgzMQgwMhgogDGIxsIkXKoDkE4XAalka0HUDALTgBEmGYb0tAAAAAElFTkSuQmCC);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: calc(50% - 6px);
	left: 0;
	width: 12px;
	height: 12px;
	content: ' ';
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	tranform-origin: 50% 50%;
	-webkit-tranform-origin: 50% 50%;
}

.freeContentBlock > div > div > h4.open:after {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.freeContentBlock > div > div > h4.animate:after {
	animation: faq_close 0.2s linear 1;
	-webkit-animation: faq_close 0.2s linear 1;
}

.freeContentBlock > div > div > h4.animate.open:after {
	animation: faq_open 0.2s linear 1;
	-webkit-animation: faq_open 0.2s linear 1;
}

@keyframes faq_open {
	0% { transform: rotate(-90deg); }
	100% { transform: rotate(0deg); }
}

@-webkit-keyframes faq_open {
	0% { -webkit-transform: rotate(-90deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@keyframes faq_close {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-90deg); }
}

@-webkit-keyframes faq_close {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-90deg); }
}

.freeContentBlock > div > p, .freeContentBlock > div > div > p, .freeContentBlock > div > div > div > p {
	margin: 0 0 1em;
}



.guide_table {
	width: 100%;
}

.guide_table td, .guide_table th {
	border: 1px solid rgba(255,255,255,0.125);
	text-align: center;
}

.freeContentBlock h4 {
	color: white !important;
}

.freeContentBlock a {
	color: #76B338;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}
.freeContentBlock a:hover {
	color: #94D30E;
}
