#contact_form label {
  margin: 0 32px 0 8px;
}
#contact_form input[type="radio"] {
  vertical-align: middle;
}
#contact_form input[type="text"],
#contact_form textarea {
  font-family: inherit;
  font-size: 8pt;
  padding: 8px;
}
#contact_form input[type="button"] {
  display: inline-block;
  font-size: 10pt;
  width: auto;
  height: 36px;
  padding: 0px 12px;
  cursor: pointer;
  vertical-align: middle;
}
#contact_form .contact_message_error {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  color: rgb(192, 0, 0);
  opacity: 0;
}
#contact_form img#ajax_loader {
  vertical-align: middle;
  margin: 0 8px;
  display: none;
}
#contact_form .has_error {
  box-shadow: inset 2px 2px 0 rgb(192, 0, 0), inset -2px -2px 0 rgb(192, 0, 0);
}
#contact_form > div {
  margin: 1em 0;
}
#contact_choices {
  margin: 2em 0 !important;
  text-align: left !important;
}
#contact_email input[type="text"] {
  width: 320px;
}
#contact_message textarea {
  width: 320px;
  max-width: 320px;
  min-width: 320px;
  height: 80px;
  min-height: 80px;
  max-height: 240px;
}
#contact_message .contact_message_error {
  vertical-align: top;
}
#contact_captcha img {
  width: 108px;
  height: 43px;
  margin-right: 1em;
}
#contact_captcha input[type="text"] {
  width: 201px;
  height: 27px;
}
#contact_error_message,
#contact_success_message {
  background-color: white;
  margin-top: 1em;
  font-weight: 700;
  display: none;
}
#contact_error_message {
  padding: 16px 16px 16px 52px;
  border: 1px solid rgb(192, 0, 0);
  color: rgb(192, 0, 0);
  background-image: url("https://css.bet777.be/desktop/Themes/casino777v3/public/ico_x.png");
  background-repeat: no-repeat;
  background-position: 8px 50%;
}
#contact_success_message {
  padding: 16px 16px 16px 64px;
  border: 1px solid rgb(0, 128, 0);
  color: rgb(0, 128, 0);
  background-image: url("https://css.bet777.be/desktop/Themes/casino777v3/public/green-check_green-check_03.png");
  background-repeat: no-repeat;
  background-position: 8px 50%;
}
