* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "DIN";
  src: url(../public/fonts/DINPro-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DIN", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
