.fancy_select {
  margin-right: 4px;
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(192, 192, 192);
  display: inline-block;
  font-size: 10.5pt;
  margin-bottom: 8px;
  padding: 3px;
  position: relative;
  width: 120px;
}

.fancy_select_button {
  background-image: url("https://bfscripts.dhnet.be/themes/sbtech/public/dropdown.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 3px;
  right: 3px;
  margin: 1px;
  cursor: pointer;
}
.fancy_select_button.active {
  background-position: -17px 0;
}
.fancy_select_menu {
  position: absolute;
  left: -1px;
  top: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(192, 192, 192);
  min-width: 100%;
  display: none;
  z-index: 5;
  max-height: 225px;
  overflow-y: auto;
}
.fancy_select_item {
  padding: 3px;
  position: relative;
}

.fancy_select_item[data] {
  cursor: pointer;
}

.fancy_select_item[data]:hover {
  background: rgb(255, 255, 192);
  background: -moz-linear-gradient(
    top,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 192) 1%,
    rgb(255, 248, 176) 99%,
    rgb(255, 224, 128) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(255, 255, 255)),
    color-stop(1%, rgb(255, 255, 192)),
    color-stop(99%, rgb(255, 248, 176)),
    color-stop(100%, rgb(255, 224, 128))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 192) 1%,
    rgb(255, 248, 176) 99%,
    rgb(255, 224, 128) 100%
  );
  background: -o-linear-gradient(
    top rgb(255, 255, 255) 0%,
    rgb(255, 255, 192) 1%,
    rgb(255, 248, 176) 99%,
    rgb(255, 224, 128) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 192) 1%,
    rgb(255, 248, 176) 99%,
    rgb(255, 224, 128) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 192) 1%,
    rgb(255, 248, 176) 99%,
    rgb(255, 224, 128) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFE080',GradientType=0);
}
.fancy_select_item[data].active {
  font-weight: bold;
  background: rgb(255, 224, 16);
  background: -moz-linear-gradient(
    top,
    rgb(255, 255, 192) 0%,
    rgb(255, 224, 16) 1%,
    rgb(248, 208, 16) 99%,
    rgb(192, 160, 8) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(255, 255, 192)),
    color-stop(1%, rgb(255, 224, 16)),
    color-stop(99%, rgb(248, 208, 16)),
    color-stop(100%, rgb(192, 160, 8))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 192) 0%,
    rgb(255, 224, 16) 1%,
    rgb(248, 208, 16) 99%,
    rgb(192, 160, 8) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(255, 255, 192) 0%,
    rgb(255, 224, 16) 1%,
    rgb(248, 208, 16) 99%,
    rgb(192, 160, 8) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(255, 255, 192) 0%,
    rgb(255, 224, 16) 1%,
    rgb(248, 208, 16) 99%,
    rgb(192, 160, 8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 192) 0%,
    rgb(255, 224, 16) 1%,
    rgb(248, 208, 16) 99%,
    rgb(192, 160, 8) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFC0',endColorstr='#C0A008',GradientType=0);
}
