#main {
  width: 100%;
}
#main .inr {
  padding: 0;
}
#left_column,
#right_column {
  display: none;
}
#content .r_content_header {
  display: none;
}
#content .r_content_contener {
  background: transparent;
  padding-top: none;
}
.r_content_contener_main h2 {
  display: inline-block;
  color: #76b338;
  padding: 15px 0 5px;
  font-size: 1.75em;
  font-weight: 700;
}
#b7_custom_background {
  background: url("../public/last_man_standing/website_bg.jpg") center top
    no-repeat !important;
}
.italic {
  font-style: italic;
}
#right-block-default {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}
#left-block,
#right-block {
  font-size: 12px;
}
#right-block-default .join-button {
  background: #76b338;
  width: 170px;
  font-size: 1.75em;
  color: #fff;
  padding: 6px 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 400;
}
#right-block-default .join-message {
  display: block;
  height: 10px;
  padding: 12px 0;
  text-align: center;
}
#right-block-default .join-message.error {
  color: red;
}
#right-block-default .join-message.success {
  color: green;
}
#right-block input {
  width: 75%;
}
#right-block .result {
  background-color: white;
  width: calc(75% + 23px);
  margin: 5px auto;
  line-height: 23px;
  height: 23px;
  font-size: 18px;
  position: relative;
  text-align: left;
  text-indent: 28px;
}
#right-block .result.found {
  color: green;
}
#right-block .result.found::before,
#right-block .result.unfound::before {
  content: " ";
  width: 21px;
  height: 21px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 2px;
}
#right-block .result.found.double::after {
  background: url("../public/last_man_standing/double.png");
  background-size: 42px 20px;
}
#right-block .result.found.single::after {
  background: url("../public/last_man_standing/single.png");
  background-size: 42px 20px;
}
#right-block .result.found.none::after,
#right-block .result.unfound.none::after {
  background: url("../public/last_man_standing/none.png");
  background-size: 42px 20px;
}
#right-block .result.found::after,
#right-block .result.unfound::after {
  content: " ";
  width: 42px;
  height: 21px;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 2px;
}
#right-block .result.found::before {
  background: url("../public/last_man_standing/thumb-green.png");
  background-size: 20px 20px;
}
#right-block .result.unfound {
  color: red;
}
#right-block .result.unfound::before {
  background: url("../public/last_man_standing/thumb-red.png");
  background-size: 20px 20px;
}
#right-block p > span {
  color: #76b338;
  font-size: 3.5em;
  font-weight: 700;
}
#right-block form {
  margin-top: 10px;
}
#left-block {
  line-height: 20px;
  margin-right: 1%;
  margin-left: 9%;
}
#left-block > p > span {
  color: #76b338;
  font-weight: 700;
}
#left-block ol {
  counter-reset: li;
  margin: 10px auto;
  display: block;
  width: 100%;
}
#left-block ol > li {
  display: block;
  margin-left: 0;
  width: 41%;
  text-align: left;
  float: left;
  line-height: 45px;
}
#left-block ol > li:before {
  content: " ";
  display: block;
  background: url("../public/last_man_standing/2.png") no-repeat;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
  margin: 0;
  padding: 0;
  float: left;
}
#left-block ol > li:first-child:before {
  background: url("../public/last_man_standing/1.png") no-repeat;
  background-size: 45px 45px;
}
#left-block ol > li:last-child:before {
  background: url("../public/last_man_standing/3.png") no-repeat;
  background-size: 45px 45px;
}
#left-block ol > li:last-child {
  width: 30%;
}
#left-block ol > li:first-child {
  width: 29%;
}
#left-block p:last-child {
  padding-top: 20px;
  clear: both;
}
#right-block .search {
  width: 23px;
  height: 23px;
  content: " ";
  background: url("../public/last_man_standing/search.png") white no-repeat;
  background-size: 19px 19px;
  cursor: pointer;
  background-position: 2px 2px;
}
#countdown {
  height: 100px;
  font-size: 12px;
}
#countdown p:first-child {
  padding: 10px 0 5px;
  font-size: 1.15em;
}
#countdown .box {
  width: 226px;
  background: url("../public/last_man_standing/bg.png") no-repeat;
  margin: 0 auto;
  height: 72px;
}
#countdown .box p {
  clear: both;
}
#countdown .top,
#countdown .bottom {
  background-image: url("../public/last_man_standing/sprite.png");
}
#countdown .top {
  background-position: 0 0;
}
#countdown .bottom {
  background-position: 17px 0;
}
#countdown .box-bottom {
  clear: both;
  padding-top: 2px;
}
#countdown .box-bottom span,
#countdown .box-top span {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#countdown .top,
#countdown .bottom {
  width: 17px;
  height: 12px;
  display: block;
  float: left;
}
#countdown .box-top {
  padding-top: 18px;
}
#countdown .days-left {
  margin-left: 15px;
}
#countdown .hours-left {
  margin-left: 18px;
}
#countdown .minutes-left {
  margin-left: 22px;
}
#countdown .seconds-left {
  margin-left: 20px;
}
#countdown .top {
  background-position-x: 0px;
}
#countdown .bottom {
  background-position-x: 17px;
}
#countdown .number-0 {
  background-position-y: 0px;
}
#countdown .number-1 {
  background-position-y: -16px;
}
#countdown .number-2 {
  background-position-y: -32px;
}
#countdown .number-3 {
  background-position-y: -48px;
}
#countdown .number-4 {
  background-position-y: -64px;
}
#countdown .number-5 {
  background-position-y: -80px;
}
#countdown .number-6 {
  background-position-y: -96px;
}
#countdown .number-7 {
  background-position-y: -112px;
}
#countdown .number-8 {
  background-position-y: -128px;
}
#countdown .number-9 {
  background-position-y: -144px;
}
#countdown .countdown-legend {
  font-family: "Open Sans";
  text-transform: uppercase;
  position: relative;
  top: -20px;
}
#countdown span.legend {
  width: 50px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
a.terms {
  text-decoration: underline;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}
#left-block,
#right-block,
#right-block-default {
  width: 36%;
  background-color: #101010;
  border: 1px solid #fff;
  padding: 10px 20px;
  text-align: center;
  height: 210px;
  margin-top: 330px;
  margin-bottom: 0;
  float: left;
}
#right-block,
#right-block-default {
  margin-left: 1%;
  padding: 10px 10px 10px;
  height: 210px;
}
#right-block {
  font-size: 1.8em;
}
