#b7_fullpage_container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 118px;
  left: 0px;
  z-index: 10;
  display: block;
}

#b7_livestream_header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/bg.jpg");
  background-repeat: repeat-x;
  background-position: center top;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: relative;
  height: 500px;
  z-index: 0;
}
#b7_livestream_header > div {
  margin: 0;
  padding: 0;
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/screen.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  text-align: center;
}
#b7_livestream_header > div > div {
  width: 764px;
  height: 426px;
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/play.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin: 37px 0 0 1px;
  cursor: pointer;
}
#b7_livestream_header > div > div > video {
  display: none;
  pointer-events: none;
}
#b7_livestream_header > div > div > video.show {
  pointer-events: auto;
}

#b7_livestream_banner {
  margin: 0;
  padding: 0;
  border: 0 none;
  width: 100%;
  height: 72px;
  line-height: 72px;
  background-color: rgb(34, 34, 34);
  border-top: 1px solid rgb(72, 72, 72);
  border-bottom: 1px solid rgb(13, 13, 13);
}
#b7_livestream_banner p {
  margin: 0 auto;
  padding: 0;
  border: 0 none;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  font-size: 36px;
  color: rgb(255, 255, 255);
  -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.93);
  -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.93);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.93);
  max-width: 1260px;
  min-width: 1260px;
  position: relative;
}
#b7_livestream_banner p span {
  transform: scale(0.95, 1);
  -webkit-transform: scale(0.95, 1);
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  display: inline-block;
}
#b7_livestream_banner a {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 8%;
  background: rgb(255, 240, 0);
  background: -moz-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(255, 255, 64)),
    color-stop(2%, rgb(255, 240, 0)),
    color-stop(100%, rgb(255, 208, 0))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  margin: 13px 0;
  padding: 14px 42px;
  font-family: "Helvetica 87 Condensed Heavy", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  color: rgb(16, 16, 16);
  border-top: 1px solid rgb(176, 128, 40);
  border-bottom: 1px solid rgb(176, 128, 40);
  border-left: 1.1px solid rgb(176, 128, 40);
  border-right: 1.1px solid rgb(176, 128, 40);
  border-radius: 4px;
}
#b7_livestream_banner a:active {
  background: rgb(255, 240, 0);
  background: -moz-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0%, rgb(255, 255, 64)),
    color-stop(2%, rgb(255, 240, 0)),
    color-stop(100%, rgb(255, 208, 0))
  );
  background: -webkit-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -ms-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
}
#b7_livestream_banner a span {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  position: relative;
  top: 0;
  left: 0;
  letter-spacing: 0;
}
#b7_livestream_banner a:active span {
  top: 1px;
  left: 1px;
}

#b7_livestream_blurbs {
  margin: 0;
  padding: 0;
  border: 0 none;
  width: 100%;
  background-color: rgb(59, 59, 59);
  border-top: 1px solid rgb(71, 71, 71);
}
#b7_livestream_blurbs > #b7_livestream_blurb_container {
  margin: 0 auto;
  padding: 0;
  border: 0 none;
  max-width: 1260px;
  min-width: 1260px;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  line-height: 1.5em;
  text-align: left;
}
#b7_livestream_columnA {
  float: left;
  margin: 0 20px 100px 0;
  padding: 0;
  border: 0 none;
  max-width: 470px;
  min-width: 470px;
  position: relative;
}
#b7_livestream_columnA h2,
#b7_livestream_columnB h2 {
  margin: 21px 0;
}
#b7_livestream_columnA p {
  margin: 30px 0;
}
#b7_livestream_columnA p.italic {
  font-style: italic;
}
#b7_livestream_columnA div,
#b7_livestream_columnB div {
  text-align: center;
  margin: 12px 0 16px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
#b7_livestream_columnB {
  float: left;
  margin: 0 20px;
  padding: 0;
  border: 0 none;
  max-width: 280px;
  min-width: 280px;
  position: relative;
}
#b7_livestream_columnB p {
  margin: 14px 0;
}
#b7_livestream_columnB p.icon {
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/sports-icons.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 20px;
  position: relative;
}
#b7_livestream_columnB p.icon.football {
  background-position: 0 2px;
}
#b7_livestream_columnB p.icon.tennis {
  background-position: 0 -26px;
}
#b7_livestream_columnB p.icon.basketball {
  background-position: 0 -54px;
}
#b7_livestream_columnB p.icon.champions {
  background-position: 0 -82px;
}
#b7_livestream_columnB p.icon.europa {
  background-position: 0 -110px;
}
#b7_livestream_columnB p.icon.international {
  background-position: 0 -138px;
}
#b7_livestream_columnB p.icon.spain {
  background-position: 0 -166px;
}
#b7_livestream_columnB p.icon.germany {
  background-position: 0 -194px;
}
#b7_livestream_columnB > span {
  position: absolute;
  top: 12px;
  width: 1px;
  height: calc(100% + 64px);
  background: rgb(32, 32, 32);
  border-right: 1px solid rgb(88, 88, 88);
}
#b7_livestream_columnB > span.leftline {
  left: -20px;
}
#b7_livestream_columnB > span.rightline {
  right: -20px;
}
#b7_livestream_columnC {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  border: 0 none;
  max-width: 430px;
  min-width: 430px;
}
#b7_livestream_blurbs h2 {
  font-size: 19pt;
  font-style: italic;
}
#b7_livestream_blurbs p.tick {
  margin-left: 24px;
  position: relative;
}
#b7_livestream_blurbs p.tick:before {
  display: block;
  position: absolute;
  top: 0;
  left: -24px;
  content: "\f00c";
  font-family: "FontAwesome";
}
#b7_livestream_blurbs p.nomt {
  margin-top: 0;
}
#b7_livestream_blurbs p.nomb {
  margin-bottom: 0;
}
#b7_livestream_blurbs a {
  color: white;
  text-decoration: underline;
}
#b7_livestream_blurbs a:hover {
  color: rgb(252, 230, 2);
  text-decoration: underline;
}
#b7_livestream_blurbs a.link_button {
  display: inline-block;
  background: rgb(255, 240, 0);
  background: -moz-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(255, 255, 64)),
    color-stop(2%, rgb(255, 240, 0)),
    color-stop(100%, rgb(255, 208, 0))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  margin: 13px 0;
  padding: 12px 22px;
  font-family: "Helvetica 87 Condensed Heavy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  color: rgb(16, 16, 16);
  border-top: 1px solid rgb(176, 128, 40);
  border-bottom: 1px solid rgb(176, 128, 40);
  border-left: 1.1px solid rgb(176, 128, 40);
  border-right: 1.1px solid rgb(176, 128, 40);
  border-radius: 4px;
}
#b7_livestream_blurbs a.link_button:hover {
  color: rgb(16, 16, 16);
}
#b7_livestream_blurbs a.link_button:active {
  background: rgb(255, 240, 0);
  background: -moz-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0%, rgb(255, 255, 64)),
    color-stop(2%, rgb(255, 240, 0)),
    color-stop(100%, rgb(255, 208, 0))
  );
  background: -webkit-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: -ms-linear-gradient(
    bottom,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgb(255, 255, 64) 0%,
    rgb(255, 240, 0) 2%,
    rgb(255, 208, 0) 100%
  );
}
#b7_livestream_blurbs a.link_button span {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  position: relative;
  top: 0;
  left: 0;
  letter-spacing: 0;
}
#b7_livestream_blurbs a.link_button:active span {
  top: 1px;
  left: 1px;
}

.b7_advert_box {
  padding: 0;
  height: 180px;
  width: 100%;
  margin-top: 48px;
  background-color: rgb(48, 48, 48);
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.32);
  border: solid 1px rgb(69, 69, 69);
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.b7_advert_box:first-child {
  margin-bottom: 28px;
}

.b7_advert_box:last-child {
  margin-top: 28px;
}
.b7_advert_box h3 {
  padding: 0;
  color: rgb(252, 230, 2);
  padding: 17.5px 5px;
  margin: 0px 10px;
  border-bottom: 1px solid rgb(59, 59, 59);
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
.b7_advert_box img {
  width: 96px;
  height: 96px;
  margin: 12px 0 12px 12px;
  float: left;
}
.b7_advert_box img.advert-schedule {
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/tv-icon-large.png");
  background-repeat: no-repeat;
  background-position: center center;
}
body.en .b7_advert_box img.advert-cashback {
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/en.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}
body.fr .b7_advert_box img.advert-cashback {
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/fr.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}
body.nl .b7_advert_box img.advert-cashback {
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/nl.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.b7_advert_box div {
  width: 286px;
  margin: 12px 24px 12px 0;
  line-height: 1.7em;
  float: right;
  position: relative;
  opacity: 0;
}

.yellowtext {
  color: rgb(252, 230, 2);
}
img.tv-icon-small {
  background-image: url("https://bfscripts.dhnet.be/uploads/public/livestream_promo/tv-icon-small.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 20px;
  vertical-align: middle;
}
