#super777_header > div:first-child {
  background-size: contain;
  background-position: 0px 30px;
  background-repeat: no-repeat;
  height: 206px;
}
#super777_header > div:first-child > h2 {
  background: #0e0e0e none repeat scroll 0% 0%;
  border-bottom: 1px solid #c0090b;
  box-shadow: none;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-family: "open_sansbold";
  height: 24px;
  left: 0px;
  line-height: 24px;
  margin-bottom: 0px;
  overflow: visible;
  padding: 3px 10px;
  right: 0px;
  text-indent: 0px;
  text-transform: uppercase;
  top: 0px;
  cursor: default;
}
div.super777_right_container {
  height: 97px;
  background-color: #151515;
  cursor: pointer;
  background-image: url("https://code.bet777.be/themes/sbtech/public/pronofoot/banners.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 340px;
}
div.super777_right_container > div {
  color: white;
  font-size: 13px;
  width: calc(50% - 13px);
  height: calc(100% - 28px);
  padding: 14px 0px 14px 13px;
}
div#history_r_container {
  background-position: 0 0;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}
div#history_r_container > div {
  padding: 30px 0px 14px 13px;
}
div#history_r_container.inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
div#tandc_container {
  background-position: 0 -97px;
}
div#tips_container {
  background-position: 0 -194px;
}
div.super777_right_container > div > span,
div.promo_super777_activated > span {
  color: #76b338;
  font-weight: 600;
}
div.promo_container {
  height: 97px;
  background-color: #151515;
}
div.promo_container > input {
  height: 20px;
  margin: 22px 7px 10px;
}
div#button_ok_promo_super777 {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: none;
  border-radius: 0;
  height: 21px;
  width: 54px;
  padding: 3px 6px;
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
  cursor: pointer;
  background: #76b338;
  border-bottom: 2px solid #41651c;
}
div.promo_super777_activated {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 21px 5px;
}
div.super777_tip_to_win {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 13px 10px;
  background-color: #151515;
}
